.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #b1821b;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  display: flex;
  justify-self: center;
  max-width: 720px;
  max-height: 200px;
  margin-top: 0;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  display: flex;
  justify-self: center;
  max-width: 720px;
  max-height: 72px;
  margin-top: 32px;
}

.intro {
  margin-top: 100px;
  margin-right: 302px;
  margin-left: 148px;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 58px;
  color: #fff;
  max-width: 830px;
  display: flex;
  justify-self: center;
}

.intro__frase {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  max-width: 738px;
  margin-top: 40px;
}

.footer {
  width: 166;
  height: 16;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
}
.image {
  width: 100%;
  object-fit: cover;
  margin-top: 64px;
}

@media screen and (max-width: 320px) {
  .page {
    padding-bottom: 200px;
  }
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 228px;
    padding-top: 40px;
  }

  .lead__subtitle {
    max-width: 288px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 20px;
  }

  .intro {
    margin-top: 64px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .intro__title {
    font-size: 20px;
    line-height: 35px;
    max-width: 288px;
  }

  .intro__frase {
    max-width: 288px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}
